.offices
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 20px
        border: 1px solid $color-bg-secondary
        transition: background $transition
        height: 100%

    &__img
        width: 100px
        height: 100px
        margin-bottom: 20px

.no-touch

    & .offices__item:hover
        background: $color-main
