// Colors
$main: #fff
$secondary: lightgrey
$accent: #2e8dde
$accent-light: #ebf6ff
$border: #d3d3d3
$text-color: #838282

// Container
$width: 1200px
$gap: 20px

// Animation
$transition: .2s ease-in-out
