@import vars
@import normalize

*
    box-sizing: border-box

body
    font-family: sans-serif
    color: $color-text

a
    text-decoration: none
    color: inherit

.img
    display: block

    &--cover
        width: 100%
        height: 100%
        object-fit: cover

.site-wrapper
    position: relative
    background-image: url('../img/body.png')
    padding: 30px 0

    @media (max-width: $width)
        padding: 0

.container
    max-width: $width
    margin: 0 auto
    padding-left: $gap
    padding-right: $gap
    background-color: $color-bg

    &-fix
        margin-left: -$gap
        margin-right: -$gap

.list--reset
    margin: 0
    padding: 0
    list-style: none

.btn--reset
    padding: 0
    border: none
    background: transparent
    outline: none
    appearance: none
    cursor: pointer

.blockquote
    position: relative
    display: flex
    align-items: center
    margin: 0

    &::before
        content: "\201C"
        font-family: sans-serif
        position: absolute
        font-size: 60px
        left: -2px
        top: 23px
        line-height: 0
        color: $color-main-secondary

    &::after
        content: "\201D"
        font-family: sans-serif
        position: absolute
        font-size: 60px
        right: -2px
        bottom: -9px
        line-height: 0
        color: $color-main-secondary

    &__text
        padding: 20px
        text-align: justify

.main
    padding: 30px 0

.section
    margin-bottom: 30px

.icon
    transition: fill $transition
    fill: $color-main-secondary

    &:hover
        fill: $color-main

    & svg
        width: 100%
        height: 100%

.row
    display: flex
    flex-wrap: wrap
    margin-left: ($gap / 2) * -1
    margin-right: ($gap / 2) * -1

    &.cols-1 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 1))
    &.cols-2 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 2))
    &.cols-3 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 3))
    &.cols-4 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 4))
    &.cols-5 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 5))
    &.cols-6 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 6))
    &.cols-7 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 7))
    &.cols-8 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 8))
    &.cols-9 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 9))
    &.cols-10 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 10))
    &.cols-11 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 11))
    &.cols-12 .col
        flex: 0 0 calc((100% / 12) * calc(12 / 12))

.col
    padding-left: ($gap / 2)
    padding-right: ($gap / 2)
    margin-bottom: $gap

    &-content
        width: 66.66666667%

        @media (max-width: 900px)
            width: 100%

    &-sidebar
        width: 33.33333333%

        @media (max-width: 900px)
            display: none

@import topbar
@import header
@import menu
@import offices
@import lawyers
@import bussiness
@import management
